/******************************************************************************
 * Content
 ******************************************************************************/

 body {
   padding-bottom: 70px;
   color: $text-color;
 }

 body.fixed-top-nav {
   // Add some padding for the nav-bar.
   padding-top: 56px;
 }

 body.sticky-bottom-footer {
   // Remove padding below footer.
   padding-bottom: 0;
 }

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// About page profile image should float beside only the intro text, not force a fixed column.
.about-profile {
  width: min(38%, 280px);
  margin-bottom: 1rem;
}

.about-profile-right {
  float: right;
  margin-left: 1.5rem;
}

.about-profile-left {
  float: left;
  margin-right: 1.5rem;
}

.about-full-width-break {
  clear: both;
}

@media (max-width: 767.98px) {
  .about-profile {
    float: none;
    width: min(70%, 260px);
    margin-left: auto;
    margin-right: auto;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
