---
---

<div class="row">
{% comment %}
  <div class="col-sm-2 abbr">
  {% if entry.abbr %}
    {% if site.data.venues[entry.abbr] %}
    <abbr class="badge"><a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a></abbr>
    {% else %}
    <abbr class="badge">{{entry.abbr}}</abbr>
    {% endif %}
  {% endif %}
  </div>
{% endcomment %}

  <div id="{{entry.key}}" class="col">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <span class="title">{{entry.title}}</span>
      <span class="author">
        {% for author in entry.author_array %}
          {% if forloop.length == 1 %}
            {% if author.last == site.scholar.last_name %}
              <em>{{author.first}} {{author.last}}</em>
            {% else %}
              {{author.first}} {{author.last}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author.last == site.scholar.last_name %}
                <em>{{author.first}} {{author.last}}</em>,
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>,
                {% else %}
                  {{author.first}} {{author.last}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author.last == site.scholar.last_name %}
                and <em>{{author.first}} {{author.last}}</em>
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  and <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>
                {% else %}
                  and {{author.first}} {{author.last}}
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </span>

      <span class="periodical">
      {% if entry.type == "article" %}
        <em>{{entry.journal}}</em>
      {% elsif entry.type == "inproceedings" %}
        <em>In {{entry.booktitle}}</em>
      {% endif %}
      {% if entry.year %}
        {{entry.year}}
      {% endif %}
      </span>
    {% endif %}
    
    <span class="links">
    {% if entry.abstract %}
      [<a class="abstract">Abs</a>]
    {% endif %}
    {% if entry.arxiv %}
        [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
    {% endif %}
    {% if entry.code %}
        [<a href="{{ entry.code }}" target="_blank">Code</a>]
    {% endif %}
    {% if entry.html %}
        [<a href="{{ entry.html }}" target="_blank">Paper</a>]
    {% endif %}
    {% if entry.medrxiv %}
        [<a href="{{ entry.medrxiv }}" target="_blank">medRxiv</a>]
    {% endif %}
    {% if entry.doi %}
        [<a href="https://doi.org/{{ entry.doi }}" target="_blank">DOI</a>]
    {% endif %}
    {% if entry.pdf %}
        [<a href="{{ entry.pdf | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">PDF</a>]
    {% endif %}
    {% if entry.poster %}
        [<a href="{{ entry.poster | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Poster</a>]
    {% endif %}
    {% if entry.slides %}
        [<a href="{{ entry.slides | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Slides</a>]
    {% endif %}
    {% if entry.supp %}
        [<a href="{{ entry.supp | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Supp</a>]
    {% endif %}
    </span>
  
    {% if entry.notes %}
        <span>
            <p>{{ entry.notes }}</p>
        </span>
    {% endif %}

    {% if entry.comments %}
        <span>
        <p>
            <ul>{{ entry.comments }}</ul>
        </p>
    </span>
    {% endif %}

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <span class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </span>
    {% endif %}
  
  </div>
</div>
